<div class="col-lg-3 col-md-6 mb-4">
    <div class="card">
        <div class="view overlay">
            {% if app.image %}
            <img src="{{ app.image.url }}" class="card-img-top" width="100" height="200">
            {% endif %}
            <a href="{{ app.get_absolute_url }}">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <div class="card-body text-center">
            <h5 class="h5" class="h5">{{ app.get_category_display }}</h5>
            <h3 class="h3">
                <strong>
                    <a href="{{ app.get_absolute_url }}" class="dark-grey-text">{{ app.name }}
                    </a>
                </strong>
            </h3>
            <h4 style="color:blueviolet;" class="h4 font-weight-bold blue-text">
                {% if app.price == 0 %}
                Gratis
                {% else %}
                {{ app.price }}0 €
                {% endif %}
            </h4>
            {% if app.is_for_android %}
            <h6 style="color: red"><strong>{{ app.get_device_label }}</strong></h6>
            {% else %}
            <h6 style="color: green"><strong>{{ app.get_device_label }}</strong></h6>
            {% endif %}
            <h5 class="h5 font-weight-bold">
                <strong>Valutazione : </strong>
                <strong style="color:orange;">{{ app.raiting }}</strong>
                <p class="text-muted">{{ app.data|timesince }} fa</p>
            </h5>
        </div>
    </div>
</div>