{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}{{ block.super}} - Cambio password {% endblock head_title %}
{% block content %}
<div class="row justify-content-center mt-4">
   <div class="col-4 text-center">
      <h2 class="h2">Modifica la password</h2>
      <h4 class="h4 h4">Inserire password attuale e la nuova.</h4>
      <form class="" method="POST" novalidate>
         {% csrf_token %}
         {{form|crispy}}
         <br>
         <input type="submit" class="btn btn-success" value="Cambia Password">
      </form>
   </div>
</div>
{% endblock content %}